#container {
    background-color: rgb(212, 199, 199);
    border: 2px solid black;
  
    width: 15rem;
    margin: 5rem;
  }
  
  #screen {
    height: 4rem;
    text-align: right;
    font-size: 2rem;
  
    overflow: hidden;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
  }
  
  td {
    height: 4rem;
    text-align: center;
    background-color: rgb(245, 245, 245);
    font-size: 25px;
  }
  
  .red-btn {
    background-color: rgb(202, 51, 51);
    color:rgb(245, 245, 245)
  }
  
  